.footer {
  background: linear-gradient(90deg, $color-carmine 0%, $color-sunglow 72%, $color-carmine 100%);
  font-size: 16px;

  p {
    margin: 0;
  }

  a:hover {
    text-decoration: underline;
  }

  p + p {
    margin-top: 10px;
  }

  &__wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
