.header {
  background: linear-gradient(90deg, $color-carmine 0%, $color-sunglow 72%, $color-carmine 100%);
  font-family: $font-abel;
  font-size: 16px;
}

.header__wrapper {
  padding-top: 15px;
  padding-bottom: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
