.nav {

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: flex;
    align-items: center;
    gap: 72px;
  }

  &__link:hover {
    text-decoration: underline;
  }

  button {
    background-color: transparent;
    font-family: $font-gothampro;
    font-weight: 500;
    padding: 0;
  }
}

