@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Abel";

  font-display: swap;
  src: url("../fonts/abelrusbydaymarius.ttf") format("truetype");
}


@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "GothamPro";

  font-display: swap;
  src: url("../fonts/gothampro.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "GothamPro";

  font-display: swap;
  src: url("../fonts/gothampro_medium.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "GothamPro";

  font-display: swap;
  src: url("../fonts/gothampro_bold.ttf") format("truetype");
}

$font-abel: "Abel", "Arial", sans-serif;
$font-gothampro: "GothamPro", "Arial", sans-serif;
